* {
    margin: 0 auto;
    box-sizing: border-box;
}

.mainGameContainer {
    height: 100vh;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
}